<!-- <router-outlet></router-outlet> -->

<div style="width: 100%; height: 100vh;">
  <div
    id="sidebar"
    class="collapsed"
    [@sidebar]="this.settings.sidenavIsOpened"
  >
    <header>
      <h3>{{ title }}</h3>
    </header>
    <ul>
      <li>
        <a href="#" class="active">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="item">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-desktop"></i></span>
          <span class="item">Add / Edit Record</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-user-friends"></i></span>
          <span class="item">View Record</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
          <span class="item">Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="content" [@content]="this.settings.sidenavIsOpened">
    <nav class="navbar navbar-dark bg-dark">
      <button
        (click)="toggleMenu()"
        class="bg-transparent border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <p>Some content</p>
  </div>
</div>
