html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#sidebar,
#content {
  height: 100%;
  overflow: auto;
  float: left;
  transition: width 0.35s;
}

#sidebar {
  background: black;
  width: 30%;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
}

#sidebar.collapsed {
  width: 0;
}

#sidebar.collapsed + #content {
  width: 100%;
}

#content {
  /* background: gray; */
  width: 70%;
}

/* button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: black;
  margin: 20px;
  cursor: pointer;
} */

h3 {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

#sidebar ul {
  padding: 0;
}

#sidebar ul li {
  list-style-type: none;
}

#sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid black;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

#sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
  color: black;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

#sidebar ul li a:hover .icon,
#sidebar ul li a.active .icon {
  color: black;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
  display: block;
}
