<div id="container">
  <app-sidenav id="sideside"></app-sidenav>
  <section id="home-content">
    <!-- <div class="text">Dashboard</div> -->
    <!-- <nav class="dropdownContainer">
    <ul id="nav">
      <li id="notification_li">
        <span id="notification_count">3</span>
        <a
          href="javascript:void(0) "
          id="notificationLink"
          (click)="toggleNotification()"
          >Notifications</a
        >
        <div id="notificationContainer">
          <div id="notificationTitle">Notifications</div>
          <div id="notificationsBody" class="notifications"></div>
          <div id="notificationFooter"><a href="#">See All</a></div>
        </div>
      </li>
    </ul>
  </nav> -->
    <app-horizontal-nav></app-horizontal-nav>
  </section>
</div>
